<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @registered_course.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @registered_course.course %>
</p>

<p>
  <strong>grade:</strong>
  <%= @registered_course.grade %>
</p>

<%= link_to 'Edit', edit_registered_course_path(@registered_course) %> |
<%= link_to 'Back', registered_courses_path %>
